:markdown
  Eine Fachschaft (im Bremischen Studiengangsausschuss oder kurz **StugA**, in Mehrzahl **Stugen**) ist die studentische Vertretung auf Fächerebene und als solche erster Ansprechpartner für alle Studierenen bei Fragen zum Studienablauf und Problemen während des Studiums. Außerdem organisieren die Stugen viele Veranstaltungen zur Einführung ins Studium oder auch im weiteren Verlauf.
