- verify = %w(verify edit_verify).include?(params[:action])
%h1= t('helpers.titles.edit', model: @stugen.label)

= render 'form'

- unless verify
  = link_to 'Show', @stugen
  \|
  = link_to 'Back', stugen_path
